<div class="container-fluid d-flex flex-column min-vh-100">
      <div class="col-12 row flex-grow-0">
        <app-header></app-header>
      </div>
      <div class="col-12 flex-grow-1">
        <app-main></app-main>
      </div>
      <div class="col-12 row flex-grow-0">
        <app-footer></app-footer>
      </div>
</div>

<!-- <div class="container">
  <div class="row">
      <div class="col-12" >
          <app-header></app-header>
      </div>
      <div class="col-12" >
          <app-main></app-main>
      </div>
      <div class="col-12" >
          <app-footer></app-footer>
      </div>
  </div>
</div>  -->
